body, h1, h2, h3, p, form {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: calc(100vh - 250px);
}

.champFormulaire {
    background-color: rgba(192, 192, 192, 0.7);
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    min-height: 140px;
    max-height: 160px;
}

#accueil_submit{
    margin-top: 15%
}