.champFormulaire {
    text-align: center;
}

#menuBack{
    border-right: 1px solid black;
}

.imageCollumn {
    background: var(--th-bg);
    color: var(--th-color) !important;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    vertical-align: baseline;
    white-space: nowrap;
}

.imageIndex {
    width: 200px;
}

.btnRetour{
    margin-bottom: 15px;
}

.alert{
    z-index: 10;
}

.menu-profil{
    margin-top:20px;
    height: 50px;
    font-size: larger !important;
    font-weight: bold !important;
}

.imageReservation{
    width: 500px;
    margin-bottom: 10px;
}

.btnModif{
    margin-bottom: 10px;
}

.content {
    background-image: url('../images/fond_accueil.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: calc(100vh - 56px);
}